
<?php 

                        if ($_SESSION['color_letra'] == 0) { ?>

                        <style type="text/css">
                            h1 {
                                color: black;
                            }
                            h5 {
                                color: black;
                            }
                            span {
                                color: black;
                            }
                            strong { 
                                color: black;
                            }
                            dAnuncio { 
                                color: black;
                            }

                            pestana {   
                                color: black;
                            }

                            titulo {  
                                color: #24FF00;
                                border-color: white;
                            }

                            titulo2 {  
                                color: black;
                                border-color: white;
                            }

                        </style>
                       <?php } ?>

                         <?php if ($_SESSION['color_letra'] == 1) { ?>

                        <style type="text/css">
                            h1 {
                                
                                color: red;

                            }
                            h5{
                                
                                color: red;

                            }
                            span {
                                
                                color: red;

                            }
                            strong {
                                
                                color: red;

                            }
                            dAnuncio {
                                
                                color: red;

                            }

                            pestana {
                                
                                color: red;

                            }

                            titulo {  
                                color: #24FF00;
                                border-color: white;
                            }

                            titulo2 {  
                                color: black;
                                border-color: white;
                            }

                        </style>
                       <?php } ?>

                       <?php if ($_SESSION['color_letra'] == 2) { ?>

                        <style type="text/css">
                            h1 {
                                
                                color: blue;

                            }
                            h5{
                                
                                color: blue;

                            }
                            span {
                                
                                color: blue;

                            }
                            strong {
                                
                                color: blue;

                            }
                            dAnuncio {
                                
                                color: blue;

                            }

                            pestana {
                                
                                color: blue;

                            }

                            titulo {  
                                color: #24FF00;
                                border-color: white;
                            }
                            
                            titulo2 {  
                                color: black;
                                border-color: white;
                            }

                        </style>
                       <?php } ?>








<!-- Tamaño de letra -->

<!-- letra normal -->
                       <?php if ($_SESSION['size_letra'] == 0) { ?>

                        <style type="text/css">
                            h1 {
                                
                                font-size: 12px;
                               

                            }
                            h5{
                                
                                font-size: 32px;
                               
                            }
                            span {
                             
                                font-size: 12px;
                             

                            }
                            strong {
                             
                                font-size: 12px;
                              

                            }
                            dAnuncio {
                             
                                font-size: 22px;
                            

                            }

                            pestana {
                           
                                font-size: 22px;
                           

                            }

                            titulo {
                            
                                font-size: 22px;
                            

                            }

                        </style>
                       <?php } ?>

<!-- letra grande -->
                       
                       <?php if ($_SESSION['size_letra'] == 1) { ?>

                        <style type="text/css">
                            h1 {
                                
                                font-size: 15px;
                               

                            }
                            h5{
                                
                                font-size: 35px;
                               
                            }
                            span {
                             
                                font-size: 15px;
                             

                            }
                            strong {
                             
                                font-size: 15px;
                              

                            }
                            dAnuncio {
                             
                                font-size: 25px;
                            

                            }

                            pestana {
                           
                                font-size: 25px;
                           

                            }

                            titulo {
                            
                                font-size: 25px;
                            

                            }

                        </style>
                       <?php } ?>

<!-- Super Grande -->                      

                       <?php if ($_SESSION['size_letra'] == 2) { ?>

                        <style type="text/css">
                            h1 {
                                
                                font-size: 18px;
                               

                            }
                            h5{
                                
                                font-size: 38px;
                               
                            }
                            span {
                             
                                font-size: 18px;
                             

                            }
                            strong {
                             
                                font-size: 18px;
                              

                            }
                            dAnuncio {
                             
                                font-size: 28px;
                            

                            }

                            pestana {
                           
                                font-size: 28px;
                           

                            }

                            titulo {
                            
                                font-size: 28px;
                            

                            }

                        </style>
                       <?php } ?>







<!--  Tipo de letra  --> 

                       <?php if ($_SESSION['tipo_letra'] == 0) { ?>

                        <style type="text/css">
                            * {
                                font-family: Arial ;
                        </style>
                       <?php } ?>

                         <?php if ($_SESSION['tipo_letra'] == 1) { ?>

                        <style type="text/css">
                            * {
                                font-family: Arial Black;
                        </style>
                       <?php } ?>                       

                       <?php if ($_SESSION['tipo_letra'] == 2) { ?>

                        <style type="text/css">
                            * {
                                font-family: Magneto;
                                
                        </style>
                       <?php } ?>

                        <?php if ($_SESSION['tipo_letra'] == 3) { ?>

                        <style type="text/css">
                            * {
                                font-family: Arial Rounded MT;
                        </style>
                       <?php } ?>

                        <?php if ($_SESSION['tipo_letra'] == 4) { ?>

                        <style type="text/css">
                            * {
                                font-family: Harlow Solid;
                        </style>
                       <?php } ?>


